/*
	Author:
		Jules - HYPE studio s.r.o. 
		(http://www.hypestudio.sk) 
	Version: 
		0.1 (2012-08-12)   
		Copyright 2012, Hype Studio     
*/

	
	
// Resets
// -----------------------------------------------------------------------------------



html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



// Typography presets
//	-----------------------------------------------------------------------------------



@lh: 2;
	
body {
	font-size: 62.5%;
	line-height: 1;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}
	
.gigantic {
	font-size: 11.0em;
	line-height: @lh;
	letter-spacing: -0.2em;
}

.huge, h1 {
	font-size: 6.8em;
	line-height: @lh;
	letter-spacing: -0.1em;
}

.large, h2 {
	font-size: 4.2em;
	line-height: @lh;
}

.bigger, h3 {
	font-size: 2.6em;
	line-height: @lh;
}

.big, h4 {
	font-size: 2.2em;
	line-height: @lh;
}

.small, small {
	font-size: 1.3em;
	line-height: @lh;
}




// Selection presets
// -----------------------------------------------------------------------------------




::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}




// Mixins
// -----------------------------------------------------------------------------------




.column () {
	float: left;
}

.column (@w) {
	.column;
	width: @w;
}

.smartphone () {

	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.spDefault;
	}
	
	@media only screen and (min-width : 321px) {
		.spPortrait;
	}

	@media only screen and (max-width : 320px) {
		.spLandscape;
	}
	
}




// Default page layout
// -----------------------------------------------------------------------------------


body {
	background: #2b1822 url('bg_pic1.jpg') 50% 0 no-repeat;
}

	
.w33 {
	.column(33%);
}
	
.ribbon, .gmap {

	//define mixins used within media queries
	.spDefault () {
		color: red;
	}
	
	.spPortrait () {
		color: red;
	}
	
	.spLandscape () {
		color: red;
	}
	
	//apply mixins
	.column;
	.smartphone;

}


